.NewActivityForm{
    display: flex;
    flex-direction: row;
    margin: 0;
}

.ActivityForm {
    display: flex;
    flex-direction: column;
}

.ActivityFormData {
    display: flex;
    flex-direction: column;
    margin-left: 1.5em;
    padding: 1em;
}

.ActivityPrimaryData{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 800px;
}

.ActivityDescription{
    width: 50em;
}

.AddActivityFormButtons{
    margin-top: auto ;
    display: flex;
    flex-direction: row;
    margin-left: -13em;
}

.Activity {
    display: flex;
}

