
.green{
    width: 10em;
    height: 10em;
    background-color: green;
}

.yellow{
    width: 10em;
    height: 10em;
    background-color: yellow;
}

.red{
    width: 10em;
    height: 10em;
    background-color: red;
}

