.map-container {
    height: 9em;
    width: 15em;
}

.mapView {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 10em;
    width: 17em;
    
}
    
.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    opacity: 0.9;
    color: #fff;
    padding: 3px 3px;
    font-family: monospace;
    font-size: 8px;
    z-index: 1;
    position: absolute;
    margin: 0 ;
    border-radius: 4px;
}

.mapboxgl-ctrl-attrib-inner{
    display: none;
}

.mapboxgl-ctrl-bottom-right{
    display: none;
}

.mapboxgl-ctrl-bottom-left{
    display: none;
}


.map-container{
    height: 500px;
    width: 350px;
    margin-right: 1em;
}

.map-search-container {
    height: 170px;
    width: 240px;
}


.mapboxgl-ctrl-top-left{
    display: none;
}

.mapboxgl-ctrl-top-right{
    width: 200px;
    max-width: 200px;
}
.mapboxgl-ctrl-geocoder{
    width: 200px;
    max-width: 200px;
}

.mapboxgl-ctrl-geocoder--input{
    width: 200px;
    max-width: 200px;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
    margin: 10px!important;
    float: none;
}