
.menu{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 91%;
    padding: 2em 2em;
    margin-right: auto;
    box-shadow: 0 0 6px hsl(210 14% 90%);
  }

.menu > li {
  list-style-type: none;
}

.menu>li:last-child{
  margin-right: auto ;
  margin-top: auto;
}

.MenuUserData{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
}

.MenuUserData > img{
  padding: 1em;
}

.MenuUserData > p{
  font-size: 1.2  em;
}

.avatar{
  border-radius: 50%;
  width: 6em;
}

.content{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.RightPageContent{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2em;
}

.CardData {
  display: flex;
  flex-direction: row;
  width: 11em;
  height: 5.5em;
  padding: 1em;
  justify-content: space-around;
  align-items: center;
}

.UserData {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 1em ;
}

.ActivitiesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50em;
}